services:

  go-service:
    build: . 
    container_name: go-app
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    network_mode: host
    privileged: true
    depends_on:
      amneziawgml:
        condition: service_started

  amneziawgml:
    image: metaligh/amneziawg:latest
    container_name: amnezia_container
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    volumes:
      - /etc/amnezia/:/etc/amnezia:rw
    ports:
      - "5050:5050/udp"
    restart: unless-stopped
